body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}
body ,html{
    overflow-x: hidden;
   
}

header {
  background-color: #004080;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.photo {
    width: 100vw;
  height: 100vh;
    background-image: url('/images/sh4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  padding: 2rem;
  text-align: center;
 margin-bottom: -60px;
}

h2 {
  color: #004080;
}

.photo p{
    color: whitesmoke;
}

/* Profile Page */
.profile {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}

.info p, .status-section p {
  font-size: 1.1rem;
}

.buttons button, .status-section button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0066cc;
}

.hidden {
  display: none;
}

.status-section {
  margin-top: 2rem;
}

 footer {
      margin-top: 60px;
      background-color: #ddd;
      padding: 15px;
      text-align: center;
      font-size: 0.9rem;
      color: #555;
    }
